@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
	font-family: 'Poppins', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(45deg, #2d3477, #1894ce, #18ce73, #7c18ce, #ce18ce);
    background-size: 300% 300%;
    -webkit-animation: gradient 42s ease infinite;
    -moz-animation: gradient 42s ease infinite;
    animation: gradient 42s ease infinite;
}

#page {
	margin: auto;
	padding: 40px;
	background-color:fcd315;
	border-radius: 30px;
	text-align:left;
	width:50%;
	height:650px;
	background: linear-gradient(45deg, #18ce9f, #1894ce, #18c4ce, #18ce2f, #4418ce);
    background-size: 200% 200%;
    -webkit-animation: gradient 42s ease infinite;
    -moz-animation: gradient 42s ease infinite;
    animation: gradient 42s ease infinite;
}

h1 {
	font-size:40px;
	text-transform: uppercase;
	
}

img.pendu {
	float:right;
	margin-top: 150px;
	margin-right: 50px;

}

h2 {
	font-size:12px;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	top:100px;
}

#mot td {
	
	background: rgb(9, 230, 211);
	border:2px inset black;
	width:60px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
	
}

 #mot p{
	visibility:hidden;
}

#clavier{
	border:4px outset black;
	border-radius: 20px;
	padding:30px;
	background-color:#293746;
	-webkit-box-shadow: 5px 5px 5px 0px #000000, 
	inset 2px 2px 8px 0px #000000, 11px 11px 14px 7px rgba(0,0,0,0); 
	box-shadow: 5px 5px 5px 0px #000000, 
	inset 2px 2px 8px 0px #000000, 11px 11px 14px 7px rgba(0,0,0,0);
}

#clavier td {
	background-color:black;
	border:1px solid black;
	color: white;
	width:40px;
	height:40px;
	text-align:center;
	font-weight:300;
	cursor:pointer;
}

a.lien{
	color:rgb(49, 45, 65);
	text-decoration:none;
	font-size:30px;
	text-transform: uppercase;
}

a.lien:hover{
	color:rgb(76, 64, 88);
	font-weight: 500;
	text-decoration: none;
}

.pendu
{
	border-radius: 30px;
}

td
{
	border-radius: 5px;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}